apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "vote-app.fullname" . }}-vote
  labels:
    app: vote
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
        - name: vote
          image: "{{ .Values.vote.image }}:{{ .Values.vote.tag }}"
          imagePullPolicy: IfNotPresent        # <-- add this line

          ports:
            - containerPort: {{ .Values.vote.port }}
          envFrom:
            - configMapRef:
                name: vote-app-config
            - secretRef:
                name: vote-app-secret
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "1"    
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5 

---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "vote-app.fullname" . }}
spec:
  selector:
    app: vote
  ports:
    - port: 80
      targetPort: 80
