apiVersion: apps/v1
kind: Deployment
metadata:
 name: {{ include "vote-app.fullname" . }}-result 
 labels:
   app: result
spec:
  replicas: {{.Values.replicaCount}}
  selector:
    matchLabels:
      app: result
  template:
    metadata:
      labels:
        app: result
    spec:
      containers:
        - name: result
          image: "{{.Values.result.image}}:{{.Values.result.tag}}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 4000
       

---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "vote-app.fullname" . }}-result
spec:
  selector:
    app: result
  ports:
    - port: 80
      targetPort: 4000
